.navbar{
  background-color:#3d46cd !important;
  height: 45px; 
  color: red;
  background-image: url("../images/blueGraph.jpg") !important;
  background-size: cover;  
}

a.navbar-brand {
  color: whitesmoke;
}

a.navbar-brand:hover {
  color: whitesmokesmoke;
}

.form-inline { 
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.container{
  margin-top: 45px;
  position: relative;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color:#0b33d3;
  line-height: 30px;
  font-size: smaller;
  text-align: center;
  vertical-align: text-bottom;
}

.custom-control-label {
  color:#0b33d3;
  font-weight: 400;
}

#stockResults, #cryptoResults {
  display: none;
  color: #0b33d3;
  width: 70%;
  font-weight: 400;
}

.resultContainer {
  display: flex;
  justify-content: center;
}

#searchBtn{
  background-color: #0b33d3;
  color:whitesmoke;
}


@media only screen and (max-width:411px){

  .form-inline{
    width: 80%;
    }   
}
